@import './../../../variables.scss';
.login-wrap {
  box-sizing: border-box;
  width: 344px;

  padding: 28px 20px 26px;
  background: $gray-color;
  display: flex;
  flex-direction: column;
  margin: calc(50vh - 328px) calc(50vw - 172px);
  border-radius: 5px;
  label {
    color: $dark-gray;
    font-size: 10px;
    margin-left: 6px;
  }
  input {
    height: 37px;
    width: 304px;
    border: none;
    background: #e0e0e0;
    &:focus-visible {
      outline: none;
    }
  }
  .btn-wrap {
    display: flex;
    justify-content: flex-end;
  }
  button {
    align-self: flex-end;
    margin-top: 22px;
    width: 124px;
    height: 30px;
    border: none;
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
  }
  .enter-btn {
    background: $blue-color;
    color: #fff;
    border-radius: 5px;
    box-shadow: 2px 0px 4px 0px $blue-color;
    transition: 0.5s;
    &:hover {
      box-shadow: 2px 0px 4px 0px $light-blue-color;
      background: $light-blue-color;
    }
    &:disabled {
      box-shadow: 2px 0px 4px 0px $disabled-blue;
      background: $disabled-blue;
      &:hover {
        box-shadow: 2px 0px 4px 0px $disabled-blue;
        background: $disabled-blue;
      }
    }
  }
  .registration-btn {
    color: $blue-color;
    text-decoration: underline;
    transition: 0.5s;
    &:hover {
      color: $light-blue-color;
      text-decoration: none;
    }
  }

  h3 {
    font-size: 18px;
    font-weight: 700;
  }
}
.text-error {
  color: $error;
}
.ng-invalid.ng-touched ~ .err {
  display: block;
  height: 5px;
  width: 101.4%;
  background-color: $error;
  border-radius: 0 0 5px 5px;
}
.text-error {
  display: none;
}
.ng-invalid.ng-touched ~ .text-error {
  display: inline;
  color: $error;
}
