<form class="login-wrap" [formGroup]="login">
  <h3>Login</h3>
  <div *ngFor="let loginField of loginFields let i = index">
    <label for="{{loginField.id}}">{{loginField.id }}</label>
    <input id="{{loginField.id}}" formControlName="{{loginField.formControlName}}" autocomplete="off"
      type="{{loginField.type}}">
    <span class="err"></span>
    <small class="text-error" *ngIf="!login.valid">{{createErrorMessage(loginField)}}</small>
  </div>
  <div class="btn-wrap">
    <button class="registration-btn">Registration</button>
    <button class="enter-btn" (click)="userLogin()" [disabled]="!login.valid">Login</button>
  </div>
</form>
