<div class="card-page-wrap" *ngIf="card">
  <button class="back-btn" routerLink="/video"></button>
  <img [src]="card.img?card.img:card.img2" alt="card picture">
  <div class="description-wrap">
    <div>
      <div class="title-wrap">
        <h3 class="title">{{card.title}}</h3>
        <p class="published">{{card.publishedAt | date:"EEEE, MMMM d, y"}}</p>
      </div>
      <span>Description:</span>
      <div class="description-inner-wrap">
        <p class="description">{{card.description}}</p>
      </div>
    </div>

    <app-card-statistic [card]="card.statistic"></app-card-statistic>
    <span class="colored" [appColor]="card.publishedAt"></span>
  </div>
</div>
