<div class="auth-wrap">
  <span class="user-name">User name</span>
  <img class="user-icon" src="./../../../../assets/svg/user-avatar.svg" alt="user's avatar"
    [matMenuTriggerFor]="menu" />
  <mat-menu #menu="matMenu">
    <button mat-menu-item [routerLink]="admin">Admin</button>
  </mat-menu>
  <button *ngIf="(authService.isLogin$ | async)===true; else Logout" (click)="authService.logout()"
    [routerLink]="auth">exit</button>
  <ng-template #Logout> <button [routerLink]="auth">enter</button></ng-template>
</div>
