<header>
  <div class="header-wrap">
    <div class="header-inner-wrap"><button class="logo"></button>
      <app-search (searchValueSubmit)="inputChange($event)"></app-search>
      <button class="settings" (click)="panelVisibleHandler()"></button>

    </div>
    <app-user-profile></app-user-profile>
  </div>


  <mat-expansion-panel hideToggle #panel>

    <app-sort-filter (filterValueSubmit)="inputFilterChange($event)" (sortBySubmit)=" sortByToggle($event)">
    </app-sort-filter>
  </mat-expansion-panel>
</header>
