.settings {
  border: none;
  height: 24px;
  width: 24px;
  padding: 0;
  margin: 0;
  border-radius: 5px;
  background: #2f80ed;
  background-image: url('./../../assets/svg/setting.svg');
  background-repeat: no-repeat;
  background-size: 15px 15px;
  background-position: center center;
  box-shadow: 2px 0px 4px 0px #2f80ed;
  cursor: pointer;
  transition: 0.5s;
  &:hover {
    background: #5ea2ff;
    border-radius: 5px;

    background-image: url('./../../assets/svg/setting.svg');
    background-repeat: no-repeat;
    background-size: 15px 15px;
    background-position: center center;
    box-shadow: 2px 0px 4px 0px #5ea2ff;
  }
}

header {
  background: #e5e5e5;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  transition: 0.5s;
}
.header-wrap {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 1128px;
  height: 80px;
}
.header-inner-wrap {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-basis: 67%;
}
.logo {
  width: 50px;
  height: 50px;

  background-repeat: no-repeat;
  background-size: 50px 50px;
  background-position: center center;
  background: none;
  border: none;
  background-image: url('./../../assets/svg/logo.svg');
  cursor: pointer;
  transition: 0.5s;
}
.mat-expansion-panel:not([class*='mat-elevation-z']) {
  box-shadow: none;
  background: none;
  width: 100%;
}
