@import './../../../variables.scss';
.searchButtonHandler {
  margin: 0 10px;
  input {
    width: 480px;
    height: 24px;
    background: #efefef;
    border: none;
    &:focus-visible {
      outline: none;
    }
  }
}
