$icon-height: 13px;
$pic-width: 223px;
.card {
  width: $pic-width;
  height: 307px;
  padding: 20px 20px 0px;
  background: #e5e5e5;
  box-shadow: 2px 2px 4px 0px #d9d8d8;
}
.mat-card-image:first-child {
  margin-top: -21px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  width: $pic-width;
}
.img-wrap {
  width: $pic-width;
  height: 123px;
  overflow: hidden;
}
.mat-card-image {
  width: 100%;
  margin: 0;
}
.time-decor {
  display: block;
  height: 5px;
  width: 100%;
  background: #000;
  border-radius: 0 0 5px 5px;
}
.red {
  background: red;
}
.blue {
  background: blue;
}
.green {
  background: green;
}
.mat-card-actions {
  margin-bottom: 0;
  justify-content: space-between;
  display: flex;
  margin: 0;
  padding: 20px 10px;
}
mat-card-title {
  color: #4f4f4f;
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: right;
}
app-card-statistic {
  margin-bottom: 0;
  width: 100%;
  justify-content: space-between;
  display: flex;
  margin: 0;
}

.more {
  background: #2f80ed;
  border-radius: 5px;
  width: 120px;
  height: 32px;
  border: none;
  color: white;
  margin-left: calc(50% - 66px);
  margin-bottom: 15px;
  transition: 0.5s;
  cursor: pointer;
  &:hover {
    background: #5ea2ff;
  }
}
mat-card-footer {
  margin: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
