<mat-card class="card">
  <div class="img-wrap"><img mat-card-image [src]="card.snippet.thumbnails.high.url">
  </div>
  <mat-card-actions>
    <app-card-statistic [card]="card.statistics"></app-card-statistic>
  </mat-card-actions>
  <mat-card-title [style.fontSize]="card.snippet.title.length < 60?'20px':'18px' ">{{card.snippet.title |
    titleLength:card.snippet.title.length}}</mat-card-title>
  <mat-card-footer>
    <button class="more" [routerLink]="card.id" (click)="video.next(card.id)">more...</button>
    <span class="time-decor " [appColor]="card.snippet.publishedAt"></span>
  </mat-card-footer>
</mat-card>
